.navbar{
        max-width: 1200px; /* Add this line to limit the maximum width */
        margin: 0 auto; /* Center the navbar horizontally */
        height: 70px;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        position: fixed; /* Make the navbar fixed */
        top: 0; /* Stick it to the top */
        width: 100%; /* Take up the full width of the viewport */
        z-index: 1000; /* Ensure it's on top of other content */
    .wrapper{
        display: flex;
        width: inherit;
        // border: 2px solid #000000;
        .middle-nav, .right-nav{
            padding: 10px 10px;
        }
        .left-nav{
            img{
                width: 100%;
                max-width: 65px; /* gambar akan diatur dengan lebar maksimum 300px */
                height: auto; /* menjaga aspect ratio */
                margin-top: 5px;
            }
        }
        .middle-nav{
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            text-align: center;
            font-size: 30px;
            flex-grow: 1;
            padding-top: 16px;
            letter-spacing: 7px;
        }
        .right-nav{
            padding-top: 20px;
            .item{
                display: flex;
                align-items: center;
                column-gap: 25px;
                padding-right: 10px;
                .tooltip{
                    color: #1DA8BB;
                    cursor: pointer;
                    font-size: 12;
                }.tooltip-icon {
                    transition: transform 0.2s ease-in-out; /* Add a smooth transition */
                }
                
                .tooltip-icon:hover, 
                .tooltip-icon:focus {
                    animation: jitter 0.3s ease; /* Apply the jitter animation on hover or focus */
                }
                
                @keyframes jitter {
                    0% { transform: rotate(0deg); }
                    25% { transform: rotate(8deg); }
                    50% { transform: rotate(-8deg); }
                    75% { transform: rotate(3deg); }
                    100% { transform: rotate(0deg); }
                }                
                .cart-icon {
                    position: relative;
                    margin-top: 5px;
                    span{
                        font-size: 14px;
                        position: absolute;
                        right: -8px;
                        top: -9px;
                    }
                }
                .person-icon{
                    margin-top: 5px;
                }
            }
        }
    }
}