@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=Crimson+Text&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 35px;
}
body{
    scroll-behavior: smooth;
}
.App{
    display: flex;
    justify-content: center;
}